<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2I4cb9zgqG3WfLj1KhlQdArXLHK18wuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>945255362707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sorehasou.-PeopleTodo</string>
	<key>PROJECT_ID</key>
	<string>peopletodo-3c636</string>
	<key>STORAGE_BUCKET</key>
	<string>peopletodo-3c636.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945255362707:ios:b893e826f1cec6ba205d66</string>
</dict>
</plist>